@font-face {
	font-family: 'Montserrat', sans-serif;
}

@media (orientation: portrait) { 
	.carousel-item.active,
	.carousel-item-next,
	.carousel-item-prev {
		display: block;
		width:100%;
		height:auto;
	}
}

@media (orientation: landscape) { 
	.carousel-item.active,
	.carousel-item-next,
	.carousel-item-prev {
		display: block;
		width:100%;
		height:auto;
		max-height: 80vh;
	}
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

div {
	font-family: 'Montserrat', sans-serif;
}

body {
	padding-top: 0rem;
}

h1 {
	font-weight: 700;

}

.wrapper {
	min-height: 100%;
}

.white-section {
	background-color: white;
	height: 40rem;
}

.grey-section {
	background-color: #f5f5f5;
	-webkit-box-shadow:inset 0 0 25px -2.5px #C4C4C4;
	box-shadow:inset 0 0 25px -2.5px #C4C4C4;
	height: 40rem;
}

.footer {
	position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #484848;
}

.carousel-title {
	font-size: 10rem;
}

.section-title {
	padding-top: 2.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	color: #9e9e9e;
}

.section-text {
	padding-bottom: 1rem;
	font-size: 0.875rem;
	font-weight: 200;
	text-align: center;
	color: #000000;
}

.what-i-do {
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: justify;
}

#what-i-do-section {
	height: 45rem;
}

.topbar-design {
	height: 6.25rem;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.test-pad {
	background-color: grey;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 16pt;
	color: #9e9e9e;
	text-align: center;
}

.topbar-buffer {
	margin-top: 6.25rem;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
	text-shadow: 5px 5px 10px #000000;
}

.carousel-item {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.who-title {
	font-weight: 900;
	font-size: 2.5rem;
	color: black;
	padding-top: 2.5rem;
}

.who-text {
	font-weight: 400;
	font-size: 1rem;
	color: #9e9e9e;
	padding-top: 1rem;
	text-align: center;
}

.contact-row {
	margin-top: 3rem;
	margin-bottom: 3rem;
	height: 4rem;
}

.row .contact-icon {
	height: 4rem;
	width: 4rem;
}

.row .contact-text {
	top: 50%; 
	transform: translateY(-25%); 
	bottom: initial;
}

.construction {
	font-weight: 900;
	color: black;
	font-size: 8rem;
	text-align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
